body{
    background-color: rgb(32, 30, 31);
    color: white;
}

.wrapper {
    border: 1px solid green;
    width: 100%;
    height: 80vh;

}

.wrapper > * {
    /* border: 1px solid violet; */
    width: calc(100% / 3 - 40px);
}


h2{
    color: rgb(176, 130, 69);
}

.red-color{
    color: rgb(200, 42, 42);
    /* margin-bottom: 40px; */
}
.green-color {
    color: green;
}

.bad-color {
    color: rgb(65, 43, 233);
}

input {
    width: 20px
}

#newArray li:not(:last-child)::after {
    content: ",";
    margin-right: 10px;
  }